# Web framework and server
flask
flask-cors
gunicorn

# Core LangChain and integrations
langchain
langchain_community
langchain_openai
langchain_experimental
langchain-pinecone
langchain-huggingface  # <== ADDED: For the new HuggingFaceEmbeddings

# Vector DB and Embeddings model
pinecone-client
sentence-transformers==2.2.2

# Utilities
pypdf
python-dotenv
